{
    "displayName": "{{ mso_test.tenant_rest }}",
    "name": "{{ mso_test.tenant_rest }}",
    "description": "",
    "siteAssociations": [],
    "userAssociations": [{
    "userId": "{{ query_user_id.current.id }}"
    }],
    "_updateVersion": 0,
}